.rules-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding: 2rem;
    background-color: var(--subheading-color);
    border: 1px solid var(--hr-color);
    color: var(--white);
}

.rules{
    line-height: 2rem;
    margin-top: 1.5rem;
}

.rules > p > i{
    margin-right: .5rem;
}

.primary-button{
    margin-top: 1.5rem;
}

.rules-btn{
    background-color: var(--secondary-color);
    padding: .8rem;
    color: var(--black);
    text-decoration: none;
    border-radius: .5rem;
}
