.questions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: var(--white);
}

.result-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 3rem;
  border-bottom: 1px solid var(--hr-color);
}

.result-heading > h1 {
  color: var(--secondary-color);
}

.result-message {
  font-size: 1.4rem;
}

.final-score{
  font-size: 1.3rem;
}

.questions-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.question {
  margin-top: 1.2rem;
}

.final-options-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  border-bottom: 1px solid var(--hr-color);
}

.option {
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--subheading);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.correct-option {
  background-color: var(--success-color);
}

.wrong-option {
  background-color: var(--danger-color);
}

.submit-btn {
  display: flex;
  border: none;
  background-color: var(--secondary-color);
  border-radius: 0.3rem;
  padding: 0.7rem;
  align-self: center;
  margin: 1rem 0;
}

.home-link {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
}

@media only screen and (max-width: 430px){
  .question{
    font-size: .8rem;
  }
  .questions-container{
    width: 100%;
  }
  .result-container{
    width: 100%;
  }
}
