.questions-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    color: var(--white);
  }
  
  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    border-bottom: 1px solid var(--hr-color);
  }
  
  .heading > h1 {
    color: var(--secondary-color);
  }
  
  .heading > h3{
      font-size: 1.5rem;
  }
  
  .heading > p{
      font-size: 1.2rem;
  }
  
  .questions-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .question {
    margin-top: 1.5rem;
  }
  
  .final-options-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-bottom: 1px solid var(--hr-color);
  }
  
  .option {
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--subheading);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1rem;
  }
  
  .correct-option{
      background-color: var(--success-color);
  }
  
  .wrong-option{
      background-color: var(--danger-color);
  }
  
