.nav-bar {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--hr-color);
  position: sticky;
  top: 0;
}

.nav-bar_row {
  flex-wrap: wrap;
  height: 6rem;
}

.nav-bar_heading {
  font-size: 2rem;
  font-family: italic;
}

.heading-link {
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.anchor-btn {
  text-decoration: none;
  color: var(--white);
  background-color: var(--secondary-color);
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}

@media only screen and (max-width: 680px) {
  .nav-bar_heading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-bar_heading {
    font-size: 1.2rem;
  }
  .anchor-btn {
    padding: 0.4rem;
  }

  .nav-user-image {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 430px){
  .nav-bar_section--align-start{
    padding: 0;
  }
  .heading-link{
    font-size: 1.2rem;
  }
}
