* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-all;
}

:root {
  --primary-color: #1a202c;
  --secondary-color: #49a0eb;
  --white: #ffffff;
  --black: #000000;
  --subheading: #15151580;
  --hr-color: #f1f1f1;
  --shadow-color:#5857575b;
}

body {
  background-color: var(--primary-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 70%;
  margin: auto;
  letter-spacing: 0.05rem;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}
