.subheading{
    margin: 1rem 0;
    font-size: 1.2rem;
}

.shadow-card {
  background-color: var(--subheading);
  cursor: pointer;
}

.shadow-card:hover {
  box-shadow: 4px 4px 8px var(--secondary-color);
}

.shadow-card-details {
  color: var(--white);
}

.card-btn {
  background-color: var(--secondary-color);
  padding: 0.2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.card-btn > a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1.5rem;
  font-size: 1.2rem;
}

.card-btn:hover {
 opacity: .8;
}
